* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:  "Play", sans-serif, serif, monospace;
  display: grid;
}

.container__game {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/images/bg.png');
  background-size: contain;
}
.container__inner {
  display: grid;
  width: 100vw;
  height: 90vh;
  grid-template-columns: 2fr minmax(400px, 20%) 3fr;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
  '. logo   .'
  '. tetris vans';
}
.game {
  grid-area: tetris;
  position: relative;
}
.logo {
  grid-area: logo;
  height: 100%;
  width: 75%;
  margin-top: -0.5rem;
}
.logo img {
  width: inherit;
  height: inherit;
}
.vans {
  grid-area: vans;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
}
.van {
  position: absolute;
  margin-left: 100px;
}
.van--hidden {
  transform: translateX(-500px);
}
.van--parked {}
.van--driving-away {
  transition: transform 3.5s ease-in;
  transform: translateX(2500px);
}
.van--driving-in {
  transition: transform 4s ease-out;
  transform: translateX(0);
}

.scoreboard {
  position: absolute;
  top: 20px;
  left: 20px;
}
.scoreboard ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.timer {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}

.message {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: whitesmoke;
  text-align: center;
  text-transform: capitalize;
  font-size: 3.3rem;
}
.message__game_over {
  background-color: rgba(0,0,0,.33);
}
