body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:  "Play", sans-serif, serif, monospace;
  display: grid;
}
.container__game {
  width: 66vw;
  height: 100vh;
  max-width: 1000px;
  background-image: url('../assets/images/bg_logo.png');
  background-size: cover;
  display: flex;
  align-items: center;
}
.container__inner {
  display: flex;
  flex-direction: row;
}
.game {
  position: relative;
  margin-left: 25px;
}
.van {
  width: 200px;
  height: 100px;
  margin-left: 80px;
  margin-top: 270px;
}

@keyframes blown-x {
  100% {
    transform: translateX(330px);
  }
}
