* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'VT323', sans-serif, serif, monospace;
}
p {
  margin: 0;
}

.container__game {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/images/bg.png');
  background-size: contain;
  font-size: 26px;
}
.container__inner {
  display: grid;
  grid-template-columns: 20% minmax(700px, 40%) 40%;
  grid-template-areas: '. gameholder vans';
}
.game {
  grid-area: gameholder;
  position: relative;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: 'scoreboard gamearea';
  border: 5px solid dodgerblue;
}
.sidebar {
  grid-area: scoreboard;
  display: grid;
  grid-template-rows: 11% 11% 33% 45%;
  color: whitesmoke;
  background-color: darkslategrey;
  border-right: 5px solid dodgerblue;
}
.blockrain-game-holder {
  grid-area: gamearea;
}
.score, .score_top, .blown_lines, .next_shape, .timer {
  display: grid;
  justify-items: center;
  align-content: center;
}
p[class$="__title"] {
  text-transform: uppercase;
}
.score {

}
.score_top {
  align-self: start;
  grid-gap: .25rem;
}
.score_top ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding-left: 0;
}
.blown_lines {

}
.next_shape {

}
.next_shape__preview {
  max-height: 80%;
  max-width: 80%;
  object-fit: scale-down;
}
.timer {
  position: absolute;
  left: calc(100% + 5px);
  top: -5px;
  width: 10rem;
  height: 5rem;
  color: whitesmoke;
  background-color: darkslategrey;
  border: 5px solid dodgerblue;
  border-left: none;
}
.timer__countdown {

}
.logo {
  position: absolute;
  right: calc(100% + 5px);
  top: -5px;
  height: calc(100% + 10px);
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: .5rem 1rem;
  text-align: center;
  background-color: dodgerblue;
}
.logo h1 {
  font-size: 4rem;
  margin: 0;
  color: whitesmoke;
  text-transform: uppercase;
}
.vans {
  grid-area: vans;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
}
.van {
  position: absolute;
  margin-left: 100px;
  z-index: 50;
}
.van--hidden {
  transform: translateX(-1000px);
}
.van--parked {}
.van--driving-away {
  transition: transform 100s ease-in;
  /* transition: transform 2s ease-in; */
  transform: translateX(2500px);
}
.van--driving-in {
  transition: transform 100s ease-out;
  /* transition: transform 2.5s ease-out; */
  transform: translateX(0);
}
.saucer {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25%;
  transform: translateY(-1000px);
  z-index: 50;
}
.message {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: whitesmoke;
  text-align: center;
  text-transform: capitalize;
  font-size: 3.3rem;
}
.message__game_over {
  background-color: rgba(0,0,0,.33);
}

@media (max-width: 1440px) {

}
